<h1><%= @content.name %></h1>

<h3>このゲームを積んだ人はこんなゲームも積んでいます</h3>

<ul>
  <% @nearly_rankings.each do |nearly_ranking| %>
    <% content = nearly_ranking[:content] %>
    <li>
      <%= link_to content.name, content_path(content.id) %>
    </li>
  <% end %>
</ul>
