<div class="text-center">
  <h1 class="pog-logo aldrich">pog</h1>
  <p>プレイ中・積み中のゲームを記録・共有できるWebサービス</p>
  <% if !@user.guest? %>
    <p>
      <a href="/piles" class="btn btn-primary btn-lg">pile</a>
    </p>
  <% end %>
</div>

<% if false %>
  <%= link_to 'Delete account', delete_account_path(@user.id), method: :delete %>
<% end %>


<div class="nav mobile-nav-table nav-tabs">
  <a href="#!" class="active">24h</a>
  <a href="#!">1week</a>
  <a href="#!">Total</a>
</div>


<h5>24h</h5>
<div class="js-ranking-day"></div>


<h5>all</h5>
<div class="js-ranking-all"></div>
