<div class="container">
  <h3>Settings</h3>

  <div class="list-group">
    <%= link_to(delete_account_path(@user.id), :method => :delete, :class => 'list-group-item') do %>
      <h4 class="list-group-item-heading">Delete Acount</h4>
      <p class="list-group-item-text">...</p>
    <% end %>
  </div>
</div>
