@import "bootswatch/lumen/variables";
@import "bootstrap";
body { padding-top: 60px; }
@import "bootswatch/lumen/bootswatch";
@import url(http://fonts.googleapis.com/css?family=Aldrich);

.pog-logo {
  font-size: 52px;
}

.aldrich {
  font-family: 'Aldrich', sans-serif;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
}
