@import "bootswatch/cyborg/variables";
@import "bootstrap";
body { padding-top: 60px; }
@import "bootswatch/cyborg/bootswatch";
@import url(http://fonts.googleapis.com/css?family=Aldrich);

$color-piling: #009495;
$color-piling-dark: #007475;
$color-playing: #ac0479;
$color-playing-dark: #8c0459;
$color-done: #cfa600;
$color-done-dark: #af8600;

.pog-logo {
    font-size: 52px;
}

.aldrich {
    font-family: 'Aldrich', sans-serif;
}

.top-area {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-darker;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    border-top: 1px solid $gray-darker;
}

.form-control {
    color: #000;
}

.bg-piling {
    background-color: $color-piling;
}

.bg-playing {
    background-color: $color-playing;
}

.bg-done {
    background-color: $color-done;
}

.btn-piling {
    background-color: $color-piling;
    color: #fff;
    &:hover {
        background-color: $color-piling-dark;
    }
}

.btn-playing {
    background-color: $color-playing;
    color: #fff;
    &:hover {
        background-color: $color-playing-dark;
    }
}

.btn-done {
    background-color: $color-done;
    color: #fff;
    &:hover {
        background-color: $color-done-dark;
    }
}

.disable {
    background-color: $gray-dark !important;
    &:hover {
        background-color: $gray-darker !important;
    }
}

.pile-form-area {
    height: 50px;
    margin: 0 1px;
}

.pile-title {
    margin-left: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.pile-date {
    position: absolute;
    right: 10px;
    top: 6px;
}

.platform-badge {
    display: inline;
    vertical-align: text-top;
    background-color: $gray;
}

.pile-list {
    color: #eee;
    height: auto;
    transition: .1s linear;
    margin-bottom: -2px;
}

.pile-memo {
    margin-left: 4px;
}

.pile-btn-area {
    button {
        margin: 0 4px;
    }
}

.fade-enter {
    opacity: 0.01;
    transition: opacity .1s ease-in;
    &.fade-enter-active {
        opacity: 1;
    }
}

.fade-leave {
    opacity: 1;
    transition: opacity .1s ease-out;
    &.fade-leave-active {
        opacity: 0.01;
    }
}
