@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "bootstrap-sprockets";
body { padding-top: 60px; }
@import "bootswatch/cyborg/bootswatch";
@import url(http://fonts.googleapis.com/css?family=Aldrich);

$black: #000;
$white: #fff;
$color-piling: #cfa600;
$color-piling-dark: #af8600;
$color-playing: #009495;
$color-playing-dark: #007475;
$color-done: #8c0449;
$color-done-dark: #6c0429;

.aldrich {
    font-family: 'Aldrich', sans-serif;
}

/**
 * layout
 */
@for $i from 1 through 10 {
    $i: $i * 5;
    .l-m#{$i}  { margin:         #{$i}px; }
    .l-mt#{$i} { margin-top:     #{$i}px; }
    .l-mb#{$i} { margin-bottom:  #{$i}px; }
    .l-ml#{$i} { margin-left:    #{$i}px; }
    .l-mr#{$i} { margin-right:   #{$i}px; }
    .l-p#{$i}  { padding:        #{$i}px; }
    .l-pt#{$i} { padding-top:    #{$i}px; }
    .l-pb#{$i} { padding-bottom: #{$i}px; }
    .l-pl#{$i} { padding-left:   #{$i}px; }
    .l-pr#{$i} { padding-right:  #{$i}px; }
}

.l-abs {
    position: absolute;
}

/**
 * module
 */
.top-logo {
    font-size: 52px;
}

.footer {
    margin-top: 100px;
    border-top: 1px solid $gray-darker;
}

.form-control {
    color: $black;
}

.btn {
    color: $white;
}

.btn-piling {
    background-color: $color-piling;
    &:hover {
        background-color: $color-piling-dark;
    }
}

.btn-playing {
    background-color: $color-playing;
    &:hover {
        background-color: $color-playing-dark;
    }
}

.btn-done {
    background-color: $color-done;
    &:hover {
        background-color: $color-done-dark;
    }
}

.btn-disable {
    background-color: $gray-dark !important;
    &:hover {
        background-color: $gray-darker !important;
    }
}

.pile-list {
    color: #eee;
    background-color: $gray;
    height: 81px;
    transition: .1s linear;
    margin-bottom: -2px;
    &.new {
        height: 42px;
    }
    &.form {
        height: 390px;
    }
}
.is-piling {
    background-color: $color-piling !important;
}

.is-playing {
    background-color: $color-playing !important;
}

.is-done {
    background-color: $color-done !important;
}

.pile-form-area {
    height: 50px;
    margin: 0 1px;
    .pull-left {
        width: 75%;
    }
}

.pile-heading {
    margin-top: -8px;
}

.pile-title {
    margin-left: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.pile-date {
    right: 10px;
    top: 6px;
}

.platform-badge {
    display: inline;
    vertical-align: text-top;
    background-color: $gray;
}

.pile-text-content {
    width: 88%;
}

.pile-memo {
    font-size: 13px;
    margin-top: -6px;
}

.pile-btn-area {
    button {
        margin: 0 4px;
    }
}

.pile-icon-area {
    bottom: 6px;
    right: 8px;
    .glyphicon {
        font-size: 20px;
    }
}

/**
 * transition
 */
.fade-enter {
    opacity: 0.01;
    transition: opacity .1s ease-in;
    &.fade-enter-active {
        opacity: 1;
    }
}

.fade-leave {
    opacity: 1;
    transition: opacity .1s ease-out;
    &.fade-leave-active {
        opacity: 0.01;
    }
}
